// Core variables and mixins
@import (reference) "../../bower_components/bootstrap/less/bootstrap.less";

/* Sidebar Menu Styles */

.navbar-static-side ul li {
	border-bottom: 1px solid #e7e7e7;
}

.sidebar-search {
	padding: 15px;
}

.nav-second-level li,
.nav-third-level li {
	border-bottom: none !important;
}

.nav-first-level li a {
	padding-left: 15px;
}

.nav-second-level li a {
	padding-left: 37px;
}

.nav-third-level li a {
	padding-left: 52px;
}

.navbar-static-side {
	z-index: 1;
	position: absolute;
	width: 250px;
	margin-top: 51px;
	background-color: #f8f8f8;
}

@media (max-width: 767px) {
	.navbar-static-side {
		border-right: 1px solid #e7e7e7;
		background-color: #f8f8f8;
		border-bottom: 1px solid #e7e7e7;
	}
}

/* submenu styles */

.ld-submenu {
	display: none;
}

.open > .ld-submenu {
	display: block;
}

/* Cursor for menu items */

a.ld-menuitem {
	cursor: pointer;
	position: relative;
	display: block;
	padding: 10px 15px;
}

a.ld-menuitem:hover {
	text-decoration: none;
}

.ld-right {
	float: right;
	padding-top: 2px;
}

.ld-slide {
	display: none;
}

.ld-slide.in {
	display: block;
}

.ld-sliding-left {
	-webkit-transition: left 0.35s ease;
	-moz-transition: left 0.35s ease;
	-o-transition: left 0.35s ease;
	transition: left 0.35s ease;
}

/* ld-filter-dropdown style */
.ld-dropdown {
	position: relative;
	display: inline;
}

/* ld-table-pagination styles */
.ld-table-pagination {
	line-height: 0px;
	display: inline-block;
	vertical-align: middle;
}

.ld-pagination {
	margin: 0px !important;
}

.ld-table-navigation {
	display: inline-block;
}

.ld-table-navigation-btn {
	padding: 6px 6px;
}

.ld-table-navigation-dropdown {
	position: relative;
	display: inline-block;
}

.ld-table-info {
	font-weight: bold;
}

.ld-data-navigation {
	display: inline-block;
}

.ld-data-navigation-btn {
	padding: 6px 6px;
}

/* ldClickableRows default style */
.ld-clickable {
	cursor: pointer;
}

/* ld input group updates */

.ld-expandable-input {
	display: table;
	width: 100%;
	position: relative;
	height: @input-height-base;

	.ld-input-group {
		position: relative;
		display: table-cell;
		width: 100%;

		.ld-form-control {
			padding: @padding-base-vertical @padding-base-horizontal*3;

			&.input-sm {
				padding: @padding-small-vertical @padding-small-horizontal*3;
			}

			&.input-lg {
				padding: @padding-large-vertical @padding-large-horizontal*3;
			}
		}

		.ld-input-group-btn {

			&:extend(.btn);

			position: absolute;
			height: @input-height-base; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
			padding: @padding-base-vertical @padding-base-horizontal/2;
			font-size: @font-size-base;
			line-height: @line-height-base;
			color: @input-color;
			background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214

			// switch to relative position instead of absolute
			&.relative {
				position: relative;
			}

			&:last-child:not(:first-child) {
				top: 0;
				right: 0;
			}

			// Sizing
			&.input-sm {
				padding: @padding-small-vertical @padding-small-horizontal;
				font-size: @font-size-small;
			}

			&.input-lg {
				padding: @padding-large-vertical @padding-large-horizontal;
				font-size: @font-size-large;
			}
		}
	}

	.ld-expandable-close {
		display: table-cell;
		height: @input-height-base; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
		padding: @padding-base-vertical @padding-base-horizontal;
		font-size: @font-size-base;
		line-height: @line-height-base;
	}
}

.ld-input-inline {
	.ld-expandable-input {
		display: inline-table;
		width: auto;

		.ld-input-group {
			display: inline-block;
		}
	}
}

/* Dashboard panels */

.ld-panel-group {
	display: inline-flex;
	width: 100%;
	align-items: flex-start;
	justify-content: space-around;
	flex-wrap: wrap;

	.quarter {
		width: 24%;
	}

	.third {
		width: 33%;
	}

	.half {
		width: 49%;
	}

	.full {
		width: 100%;
	}

	.panel {
		flex-shrink: 1;
		flex-grow: 0;
		display: block;
	}

	@media all and (max-width: 499px) {
		flex-direction: column;

		.quarter, .third, .half, .full {
			width: 100%;
		}
	}

	@media all and (min-width: 500px) and (max-width: 768px) {
		.quarter, .third {
			width: 49%;
		}

		.half, .full {
			width: 100%;
		}
	}

	@media all and (min-width: 769px) and (max-width: 960px) {
		.quarter, .third, .half {
			width: 49%;
		}

		.full {
			width: 100%;
		}
	}
}

.ld-panel-heading {
	&:extend(.panel-heading);

	padding: 6px 6px;
}

.ld-panel-title {
	&:extend(.panel-title);

	padding-top: 2.5px;
	padding-left: 6px;
}