<div class="panel panel-{{ panelType }}" ng-class="ldSize">
	<div class="panel-heading ld-panel-heading clearfix">
		<h4 class="panel-title ld-panel-title pull-left">{{ ldTitle }}</h4>
		<div class="btn-group pull-right" dropdown>
			<button class="btn btn-xs btn-{{ panelType }}" ng-click="toggle()"><i class="fa fa-fw fa-minus"></i></button>
			<button class="btn btn-xs btn-{{ panelType }}" ng-click="close()"><i class="fa fa-fw fa-close"></i></button>
			<button class="btn btn-xs btn-{{ panelType }} dropdown-toggle" role="button"><span class="caret"></span></button>
			<ul class="dropdown-menu" role="menu">
				<li><a href="" ng-click="options()">Options</a></li>
			</ul>
		</div>
	</div>
	<div class="panel-collapse" collapse="!isOpen">
		<div class="panel-body" ng-transclude>
		</div>
	</div>
</div>