<div class="ld-table-navigation-dropdown" dropdown>
    <a href="" dropdown-toggle style="cursor:pointer;" role="button">{{ description }} {{ currentPage }} of {{ totalPages }} <i class="fa fa-fw fa-caret-down"></i></a>
    <ul class="dropdown-menu dropdown-menu-right">
        <li class="dropdown-header">{{ header }}</li>
        <li ng-class="firstPageClass"><a href="" ng-click="gotoPage(1)"><i class="fa fa-fw fa-angle-double-left fa-lg"></i>{{ firstPage }}</a></li>

        <li ng-repeat="page in pages" ng-class="page.active ? 'divider' : ''"><a href="" ng-if="!page.active" ng-click="gotoPage(page.page)"><i class="fa fa-fw fa-lg" ng-class="page.active ? 'fa-caret-right' : ''"></i>{{ page.text }}</a></li>

        <li ng-class="lastPageClass"><a href="" ng-click="gotoPage(totalPages)"><i class="fa fa-fw fa-angle-double-right fa-lg"></i>{{ lastPage }}</a></li>
    </ul>
</div>