/* Sidebar Menu Styles */

.navbar-static-side ul li {
    border-bottom: 1px solid #e7e7e7;
}

.sidebar-search {
    padding: 15px;
}

.nav-second-level li,
.nav-third-level li {
    border-bottom: none !important;
}

.nav-first-level li a {
    padding-left: 15px;
}

.nav-second-level li a {
    padding-left: 37px;
}

.nav-third-level li a {
    padding-left: 52px;
}

.navbar-static-side {
    z-index: 1;
    position: absolute;
    width: 250px;
    margin-top: 51px;
    background-color: #f8f8f8;
}

@media (max-width: 767px) {
    .navbar-static-side {
        border-right: 1px solid #e7e7e7;
        background-color: #f8f8f8;
        border-bottom: 1px solid #e7e7e7;
    }
}

/* submenu styles */

.ld-submenu {
    display: none;
}

.open > .ld-submenu {
    display: block;
}

/* Cursor for menu items */

a.ld-menuitem {
    cursor: pointer;
    position: relative;
    display: block;
    padding: 10px 15px;
}

a.ld-menuitem:hover {
    text-decoration: none;
}

.ld-right {
    float: right;
    padding-top: 2px;
}

.ld-slide {
    display: 'none';
}

.ld-slide.in {
    display: 'block';
}

.ld-sliding-left {
    -webkit-transition: left 0.35s ease;
    -moz-transition: left 0.35s ease;
    -o-transition: left 0.35s ease;
    transition: left 0.35s ease;
}

/* ld-filter-dropdown style */
.ld-filter-dropdown {
    position: relative;
    display: inline-block;
    margin-top: 8px;
}

/* ld-table-pagination styles */
.ld-table-pagination {
    line-height: 0px;
    display: inline-block;
    vertical-align: middle;
}

.ld-pagination {
    margin: 0px !important;
}

.ld-table-navigation {
    display: inline-block;
}

.ld-table-navigation-btn {
    padding: 6px 6px;
}

.ld-table-navigation-dropdown {
    position: relative;
    display: inline-block;
}