.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
}
.form-horizontal .form-group-sm .form-control {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.form-horizontal .form-group-lg .form-control {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
.ld-expandable-input .ld-input-group .ld-input-group-btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.ld-panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.ld-panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
}
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-footer:after {
  clear: both;
}
/* Sidebar Menu Styles */
.navbar-static-side ul li {
  border-bottom: 1px solid #e7e7e7;
}
.sidebar-search {
  padding: 15px;
}
.nav-second-level li,
.nav-third-level li {
  border-bottom: none !important;
}
.nav-first-level li a {
  padding-left: 15px;
}
.nav-second-level li a {
  padding-left: 37px;
}
.nav-third-level li a {
  padding-left: 52px;
}
.navbar-static-side {
  z-index: 1;
  position: absolute;
  width: 250px;
  margin-top: 51px;
  background-color: #f8f8f8;
}
@media (max-width: 767px) {
  .navbar-static-side {
    border-right: 1px solid #e7e7e7;
    background-color: #f8f8f8;
    border-bottom: 1px solid #e7e7e7;
  }
}
/* submenu styles */
.ld-submenu {
  display: none;
}
.open > .ld-submenu {
  display: block;
}
/* Cursor for menu items */
a.ld-menuitem {
  cursor: pointer;
  position: relative;
  display: block;
  padding: 10px 15px;
}
a.ld-menuitem:hover {
  text-decoration: none;
}
.ld-right {
  float: right;
  padding-top: 2px;
}
.ld-slide {
  position: absolute;
  left: 0px;
}
@media all and (max-width: 768px) {
  .ld-slide.ng-enter,
  .ld-slide.ng-leave {
    -webkit-transition: left 0.35s ease;
    -moz-transition: left 0.35s ease;
    -o-transition: left 0.35s ease;
    transition: left 0.35s ease;
  }
  .ld-slide.ng-enter {
    display: block;
    left: -250px;
  }
  .ld-slide.ng-enter.ng-enter-active,
  .ld-slide.ng-leave {
    left: 0px;
    display: block;
  }
  .ld-slide.ng-leave.ng-leave-active {
    left: -250px;
  }
}
/* ld-filter-dropdown style */
.ld-dropdown {
  position: relative;
  display: inline;
}
/* ld-table-pagination styles */
.ld-table-pagination {
  line-height: 0px;
  display: inline-block;
  vertical-align: middle;
}
.ld-pagination {
  margin: 0px !important;
}
.ld-table-navigation {
  display: inline-block;
}
.ld-table-navigation-btn {
  padding: 6px 6px;
}
.ld-table-navigation-dropdown {
  position: relative;
  display: inline-block;
}
.ld-table-info {
  font-weight: bold;
}
.ld-data-navigation {
  display: inline-block;
}
.ld-data-navigation-btn {
  padding: 6px 6px;
}
/* ldClickableRows default style */
.ld-clickable {
  cursor: pointer;
}
/* ld input group updates */
.ld-expandable-input {
  display: table;
  width: 100%;
  position: relative;
  height: 34px;
}
.ld-expandable-input .ld-input-group {
  position: relative;
  display: table-cell;
  width: 100%;
}
.ld-expandable-input .ld-input-group .ld-form-control {
  padding: 6px 36px;
}
.ld-expandable-input .ld-input-group .ld-form-control.input-sm {
  padding: 5px 30px;
}
.ld-expandable-input .ld-input-group .ld-form-control.input-lg {
  padding: 10px 48px;
}
.ld-expandable-input .ld-input-group .ld-input-group-btn {
  position: absolute;
  height: 34px;
  padding: 6px 6px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-image: none;
}
.ld-expandable-input .ld-input-group .ld-input-group-btn.relative {
  position: relative;
}
.ld-expandable-input .ld-input-group .ld-input-group-btn:last-child:not(:first-child) {
  top: 0;
  right: 0;
}
.ld-expandable-input .ld-input-group .ld-input-group-btn.input-sm {
  padding: 5px 10px;
  font-size: 12px;
}
.ld-expandable-input .ld-input-group .ld-input-group-btn.input-lg {
  padding: 10px 16px;
  font-size: 18px;
}
.ld-expandable-input .ld-expandable-close {
  display: table-cell;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
}
.ld-input-inline .ld-expandable-input {
  display: inline-table;
  width: auto;
}
.ld-input-inline .ld-expandable-input .ld-input-group {
  display: inline-block;
}
/* Dashboard panels */
.ld-panel-group {
  display: inline-flex;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.ld-panel-group .quarter {
  width: 24%;
}
.ld-panel-group .third {
  width: 33%;
}
.ld-panel-group .two-thirds {
  width: 65%;
}
.ld-panel-group .half {
  width: 49%;
}
.ld-panel-group .full {
  width: 100%;
}
.ld-panel-group .panel {
  flex-shrink: 1;
  flex-grow: 0;
  display: block;
  margin-right: 5px;
}
@media all and (max-width: 499px) {
  .ld-panel-group {
    flex-direction: column;
  }
  .ld-panel-group .quarter,
  .ld-panel-group .third,
  .ld-panel-group .half,
  .ld-panel-group .full,
  .ld-panel-group .two-thirds {
    width: 100%;
  }
}
@media all and (min-width: 500px) and (max-width: 768px) {
  .ld-panel-group .quarter,
  .ld-panel-group .third {
    width: 49%;
  }
  .ld-panel-group .two-thirds,
  .ld-panel-group .half,
  .ld-panel-group .full {
    width: 100%;
  }
}
@media all and (min-width: 769px) and (max-width: 960px) {
  .ld-panel-group .quarter,
  .ld-panel-group .third,
  .ld-panel-group .half {
    width: 49%;
  }
  .ld-panel-group .two-thirds,
  .ld-panel-group .full {
    width: 100%;
  }
}
.ld-panel-heading {
  padding: 6px 6px;
}
.ld-panel-title {
  padding-top: 2.5px;
  padding-left: 6px;
}
/* sorting icons */
.ld-ascent,
.ld-descent {
  display: none;
}
.ld-table-sort-ascent > .ld-ascent {
  display: inline;
}
.ld-table-sort-descent > .ld-descent {
  display: inline;
}
