<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <title>Menu Test</title>
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="bower_components/font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" type="text/css" href="ldAdminTools.css"/>

    <style type="text/css">
        .ld-sidebar-menu-slide {
            position: absolute;
            left: 0px;
        }

        @media all and (max-width: 768px) {

            .ld-sidebar-menu-slide.ng-enter, .ld-sidebar-menu-slide.ng-leave {
                -webkit-transition: left 0.35s ease;
                -moz-transition: left 0.35s ease;
                -o-transition: left 0.35s ease;
                transition: left 0.35s ease;
            }

            .ld-sidebar-menu-slide.ng-enter {
                display: block;
                left: -250px;
            }

            .ld-sidebar-menu-slide.ng-enter.ng-enter-active, .ld-sidebar-menu-slide.ng-leave {
                left: 0px;
                display: block;
            }

            .ld-sidebar-menu-slide.ng-leave.ng-leave-active {
                left: -250px;
            }
        }
    </style>

</head>
<body ng-app="demo">

<div id="wrapper" ng-controller="demoCtrl" style="padding-top: 20px">
    <div class="navbar-static-side ld-sidebar-menu-slide" ld-toggle="menuOpened">
    <ld-sidebar-menu data="menu" ng-if="menuOpened"></ld-sidebar-menu>
    </div>

    {{ menuOpened }}

    <div id="page-wrapper" style="margin-left: 300px">
        <a href="#" ng-click="menuOpened = !menuOpened">Show/Hide menu - <em>{{ menuOpened ? 'opened' : 'closed' }}</em></a> <br/>
        <a href="#" ng-click="animate = !animate">Animation on/off - <em>{{ animate ? 'on' : 'off' }}</em></a><br/>
        <a href="#" ng-click="closeable = !closeable">Closeable on/off - <em>{{ closeable ? 'on' : 'off' }}</em></a>
    </div>
</div>

</body>

<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-recursion/angular-recursion.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
<script src="ldAdminTools.js"></script>

<script type="text/javascript">

    var app = angular.module('demo', ['ui.bootstrap', 'LocalStorageModule', 'ldAdminTools']);
    app.controller('demoCtrl', function ($scope) {
        console.log('demoCtrl ' + $scope.$id);

        $scope.menuOpened = true;
        $scope.animate = true;
        $scope.closeable = false;

        $scope.menu = [
            {
                'url': '#/dashboard',
                'icon': 'fa-dashboard',
                'text': 'Dashboard'
            },
            {
                'url': '#/inbox',
                'icon': 'fa-envelope',
                'text': 'Inbox',
                'badge': function(){
                    return 1;
                }
            },
            {
                'url': '#/employee',
                'icon': 'fa-user',
                'text': 'Employees'
            },
            {
                'url': '#/policy',
                'icon': 'fa-check-square',
                'text': 'Policies'
            },
            {
                'url': '#/company',
                'icon': 'fa-institution',
                'text': 'Companies'
            },
            {
                'url': '',
                'icon': 'fa-table',
                'text': 'Reports',
                'submenu': [
                    {
                        'url': '#/reports/audit',
                        'text': 'ICE Audit'
                    },
                    {
                        'url': '#/reports/onboard',
                        'text': 'Onboard Summary'
                    },
                    {
                        'url': '#/reports/billing',
                        'text': 'Billing Summary'
                    }
                ]
            },
            {
                'url': '',
                'icon': 'fa-gear',
                'text': 'Options',
                'submenu': [
                    {
                        'url': '#/options/users',
                        'text': 'Users'
                    },
                    {
                        'url': '#/options/empforms',
                        'text': 'Employee Forms'
                    },
                    {
                        'url': '#/options/compforms',
                        'text': 'Company Forms'
                    },
                    {
                        'url': '#/options/states',
                        'text': 'States'
                    },
                    {
                        'url': '#/options/doctypes',
                        'text': 'Document Types'
                    },
                    {
                        'url': '#/options/portals',
                        'text': 'Portals'
                    }
                ]
            },
            {
                'url': '',
                'icon': 'fa-table',
                'text': 'Reports',
                'submenu': [
                    {
                        'url': '#/reports/audit',
                        'text': 'ICE Audit'
                    },
                    {
                        'url': '#/reports/onboard',
                        'text': 'Onboard Summary'
                    },
                    {
                        'url': '#/reports/billing',
                        'text': 'Billing Summary'
                    }
                ]
            },
            {
                'url': '',
                'icon': 'fa-gear',
                'text': 'Options',
                'submenu': [
                    {
                        'url': '#/options/users',
                        'text': 'Users'
                    },
                    {
                        'url': '#/options/empforms',
                        'text': 'Employee Forms'
                    },
                    {
                        'url': '',
                        'text': 'Level3',
                        'submenu': [
                            {
                                'url': '#/options/compforms',
                                'text': 'Company Forms'
                            },
                            {
                                'url': '#/options/states',
                                'text': 'States'
                            },
                            {
                                'url': '#/options/doctypes',
                                'text': 'Document Types'
                            },
                            {
                                'url': '#/options/portals',
                                'text': 'Portals'
                            }
                        ]
                    },
                    {
                        'url': '',
                        'text': 'Level3',
                        'submenu': [
                            {
                                'url': '#/options/compforms',
                                'text': 'Company Forms'
                            },
                            {
                                'url': '#/options/states',
                                'text': 'States'
                            },
                            {
                                'url': '#/options/doctypes',
                                'text': 'Document Types'
                            },
                            {
                                'url': '#/options/portals',
                                'text': 'Portals'
                            }
                        ]
                    }
                ]
            },
            {
                'url': '#/help',
                'icon': 'fa-question-circle',
                'text': 'Help'
            }
        ];
    });

</script>

</html>