<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Table Test</title>
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="bower_components/font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" type="text/css" href="ldAdminTools.css"/>
</head>
<body ng-app="TableApp">

<div style="margin: 20px" ng-controller="testController">

    <table ld-table="users" class="table table-condensed table-striped" ld-table-filter="selectedFilter"
           ld-table-page-rows="10">
        <thead>
        <tr>
            <th>
                <ld-filter-dropdown filters="filters" selected-filter="selectedFilter"></ld-filter-dropdown>
            </th>
            <th>
                <input ld-table-search="" ng-model="searchValue" class="form-control" placeholder="global search ..."
                       type="text" style="display: inline-block; width: 250px"/>
                <ld-table-navigation-dropdown header-text="{0} {{ selectedFilter.name }}"></ld-table-navigation-dropdown>
                <ld-table-navigation></ld-table-navigation>
            </th>
        </tr>
        <tr>
            <th>Name</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in users">
            <td>{{ user.firstName }} {{ user.lastName }}</td>
            <td>{{ user.email }}</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td>
                <ld-table-pagination></ld-table-pagination>
            </td>
            <td>
                <ld-table-info text="{0} - {1} of {2} Messages"></ld-table-info>
            </td>
        </tr>
        </tfoot>
    </table>

</div>

</body>

<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-recursion/angular-recursion.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="ldAdminTools.js"></script>

<script type="text/javascript">

    angular.module('TableApp', ['ui.bootstrap', 'RecursionHelper', 'ldAdminTools'])
            .controller('testController', ['$scope', function (scope) {

                scope.filters = [
                    {
                        name: 'All',
                        clear: []
                    },
                    {
                        name: 'rambo',
                        filters: {
                            'email': 'rambo'
                        }
                    },
                    {
                        divider: true
                    }
                ];

                function randomTableRow() {
                    var fnames = ['Michal', 'John', 'George', 'Jones', 'Arnold', 'Dean'];
                    var lnames = ['Doe', 'Smith', 'Rambo', 'Black', 'White'];

                    var fname = fnames[Math.floor(Math.random() * fnames.length)];
                    var lname = lnames[Math.floor(Math.random() * lnames.length)];

                    return {
                        firstName: fname,
                        lastName: lname,
                        email: fname.toLowerCase() + '@' + lname.toLowerCase() + '.com'
                    };
                }

                scope.users = [];
                for (var i = 0; i < 155; i++) {
                    scope.users.push(randomTableRow());
                }

            }])

</script>

</html>